<div class="menu-principal">
    <nav>
        <a href="https://gotagota.onrender.com/">Home</a>
        <a href="https://petroleoemtudo.onrender.com/">Petróleo em tudo</a>
        <a href="http://127.0.0.1:5000/sobre">Sobre</a>
    </nav>
</div>

<div class="menu-toggle">
    <div class="barras-menu-toggle">
        <i class="fas fa-bars"></i>
    </div>

    <nav class="conteudo-toggle">
        <a href="https://gotagota.onrender.com/">Home</a>
        <a href="https://petroleoemtudo.onrender.com/">Petróleo em tudo</a>
        <a href="https://petroleoemtudo.onrender.com/sobre">Sobre</a>
        

    </nav>
</div>